ci:
  autoupdate_schedule: "monthly"
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
    - id: ruff-format
    - id: ruff-check
      args: [--fix]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.0
  hooks:
    - id: pyproject-fmt
